.desing__text {
  width: min-content;
}

@media screen and (min-width: 426px) {
  .desing__text {
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .desing__text {
    margin: 6px 0 0;
  }
}