.footer__links-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  justify-self: flex-end;
  grid-row: 2/3;
  grid-column: 4/6;
  margin-top: 22px;
  margin-right: 84px;
  width: 543px;
}