.footer__logo {
  width: 93px;
  height: 80px;
  background-image: url('../../../images/logo__footer.svg');
  grid-column: 1/2;
}

@media screen and (max-width: 425px) {
  .footer__logo {
    margin-left: 3px;
  }
}