.hero {
    font-family: 'Neue Machina';
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    background-color: #ECEBE8;
    justify-content: space-between;
}
.hero__projects {
    width: 120px;
    height: 32px;
}
.hero__main {
    display: flex;
    flex-direction: column;
}
.hero__header {
    margin: 157px 0px 0px 120px;
    font-weight: 400;
    font-size: 72px;
    line-height: 70px;
    letter-spacing: -0.01em;
}
.hero__subheader {
    max-width: 418px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 37px 0px 0px 180px;
}

.hero__date {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin: 212px 0px 16px 124px;
}
.hero__button {
    margin: 0px 0px 0px 124px;
    width: 240px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #242424;
    border: 1px solid #242424;
}
.hero__about {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-self: right;
}
.hero__image {
    margin: 95px 0px 0px 0px;
}
.hero__info {
    padding-top: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    max-width: 591px;
}