.swiper__content {
  font-family: 'Formular', Arial, Helvetica, sans-serif;
  max-width: 541px;
  margin: 47px 0 32px;
  text-align: start;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -.01em;
  text-overflow: ellipsis;
  overflow: hidden;
}