.sidebar__author {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #242424;
    text-decoration: none;
}
.sidebar__author:hover {
    color: #ECEBE8;
    background-color: #242424;
}