.disputers__title {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 426px) {
  .disputers__title {
    max-width: 147px;
  }
}

@media screen and (max-width: 425px) {
  .disputers__title {
    display: none;
  }
}