.swiper-pagination {
  position: relative;
  max-width: 64px;
  gap: 16px;
  top: 0;
  align-self: center;
}

@media screen and (max-width: 750px) {
  .swiper-pagination {
    position: absolute;
    top: 102px;
    left: 29px;
  }
}