.footer__list-links {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 426px) {
  .footer__list-links {
    margin: 0 0 0 57px;
  }
}

@media screen and (max-width: 425px) {
  .footer__list-links {
    margin-bottom: 22px;
    margin-right: 49px;
  }
}