.desing__icon {
  background-image: url("../../../images/desing__icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  min-width: 31px;
}

@media screen and (min-width: 426px) {
  .desing__icon {
    margin-right: 0px;
  }
}

@media screen and (max-width: 425px) {
  .desing__icon {
    margin-right: 3px;
    margin-top: 5px;
  }
}