.disputers {
  grid-row: 1/2;
  grid-column: 2/7;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 426px) {
  .disputers {
    margin-top: 4px;
    max-height: 37px;
    align-items: center;
  }
}