.footer__list-image {
  padding: 2px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  max-width: 434px;
}


@media screen and (min-width: 426px) {
  .footer__list-image {
    justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  .footer__list-image {
    justify-content: flex-start;
  }
}